<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create User</title>
</head>
<body>
<h1>Create User</h1>
<form th:action="@{/users}" th:object="${user}" method="post">
    <label>Username:</label>
    <input type="text" th:field="*{username}" /><br/>
    <label>Email:</label>
    <input type="email" th:field="*{email}" /><br/>
    <label>Password:</label>
    <input type="password" th:field="*{password}" /><br/>
    <button type="submit">Save</button>
</form>
<a href="/users">Back to List</a>
</
