<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Learning Platform</title>
    <!-- Correct way to link CSS in Thymeleaf -->
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-container">
    <h2>LOGIN TO YOUR ACCOUNT</h2>
    <form action="/login" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="username" class="input-field" placeholder="Enter your email" required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="input-field" placeholder="Enter your password" required>
        </div>

        <button type="submit" class="btn-submit">Login</button>
    </form>

    <div class="register-text">
        Don't have an account? <a href="/register" class="register-link">Register here</a>
    </div>
</div>

<!-- Correct way to link JS in Thymeleaf -->
<script th:src="@{/js/login.js}"></script>
</body>
</html>
